.App {
  text-align: center;
  padding-top: 60px;
}

input::selection, textarea::selection {
  background-color: rgba(127,200,200,.87);
  color: rgba(0,0,0,.87);
}

::selection {
  background-color: rgba(127,200,200,.87);
  color: rgba(0,0,0,.87);
}
