.inverted .ui.selection.dropdown {
  background-color: #1B1C1D;
  color: #fff;
  border-color: #fff;
}
.inverted .ui.selection.active.dropdown, .inverted .ui.selection.active.dropdown .menu {
  border-color: #fff;
  border-top: 1px solid #fff;
}

.ui.dropdown .menu {
  background-color: #1B1C1D;
  color: #fff;
}
.inverted .ui.selection.visible.dropdown>.text:not(.default) {
  color: #fff;
}
.inverted .ui.dropdown .menu>.header {
  color: #fff;
}

.ui.secondary.inverted.pointing.menu .active.item {
  color: #fff!important;
}
.ui.vertical.inverted.menu .menu .item, .ui.vertical.inverted.menu .menu .item a:not(.ui) {
  color: #fff!important;
}

.inverted .ui.dropdown .menu>.item>.description, .inverted .ui.dropdown>.text>.description {
  color: rgba(255, 255, 255, 0.4);
}

.inverted .ui.menu .ui.dropdown .menu>.item:hover, .inverted .ui.menu .ui.dropdown .menu>.selected.item {
  color: #fff!important;
  background-color: rgba(255, 255, 255, 0.05)!important;
}

.inverted .ui.menu .ui.dropdown .menu>.item:hover {
  color: #fff!important;
  background-color: rgba(255, 255, 255, 0.2)!important;
}

.inverted .menu .ui.slider.checkbox .box, .inverted .menu .ui.slider.checkbox label {
  color: #fff;
}

.inverted .menu .ui.slider.checkbox input:checked~.box, .inverted .ui.slider.checkbox input:checked~label {
  color: #fff!important;
}

.inverted .menu .ui.slider.checkbox {
  padding: 10px 0;
}

#json-editor {
  border: #fff solid 1px;
}
